# folder to ignore
Archieve/
data/adjacency_matrix/AM4*
data/csv_files/AM4*

# C extensions
*.so

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Spyder project settings
.spyderproject
.spyproject

